fastapi
uvicorn[standard]
pydantic
pydantic-settings
email-validator
sqlalchemy[asyncio]
asyncmy
alembic
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
python-dotenv
tzdata
pytest
httpx
